body {
  background: linear-gradient(rgb(28, 4, 73), rgba(42, 5, 112, 0.329))
}

h1 {
  color: white;
  margin-top: 1em;
  margin-bottom: .5em;
}

.content-tile {
  color: white;
  background-color: rgb(119, 136, 153, 0.3);
  padding: 1em;
  margin: 1em;
}

#intro {
 text-align: center;
}

#intro, .row {
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.hidden {
  display: none;
}